body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2b283a;
}

/* Typography */

h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}

p {
  text-align: justify;
  line-height: 23px;
}

footer > p {
  text-align: center;
}

/* Links */

.links {
  color: #ef5839;
  text-decoration: underline dotted;
}

.links:hover,
.links:active {
  color: #d4b44c;
}

/* Layout */

header,
section,
footer {
  padding: 45px 0;
}

header,
.purple-bg {
  background-color: #5f29a3;
  color: whitesmoke;
}

.main-img {
  width: 100%;
}

.container {
  max-width: 620px;
  margin: 0 auto;
}

.purple-bg {
  color: whitesmoke;
}

.container-img {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.container-img > img {
  width: 300px;
  border-radius: 4.6px;
}

footer {
  color: #5f29a3;
  font-weight: bold;
}

/* Buttons */

button {
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #f3e885;
  color: #2b283a;
}

.btn-dark {
  background-color: #5f29a3;
  color: whitesmoke;
}

.btn-mid {
  background-color: #f0e0ff;
  color: #5f29a3;
}

.btn-light {
  background-color: white;
  color: #5f29a3;
}
